<div class="cl-add-form">
    <form class="addImage-form">

        <label>Зображенн'я</label>

        <div class="img-own">
            <a class='btn btn-default' style="position:relative;">
                Виберіть файл
                <input type="file" id="upload" name="imageOwn" onchange="$('#upload-file-info').html($(this).val())" accept=".png, .jpg, .jpeg" required>
            </a>
            &nbsp;
            <div id="upload-file-info">Файл не вибрано</div>
        </div>

        <br />

        <label>Тип отримання  інформації</label>

        <select name="typeOfInf" class="form-control" id="typeOfInf">
            <option selected value="Wiki">Посилання на Wikipedia</option>
            <option value="Own">Власноруч  описати</option>
            <option value="None">Без опису</option>
        </select>

        <hr style="width:100%; margin-bottom:10px" />

        <div class="form-group inf-wiki">
            <span>Wikipedia Url</span>
            <input type="url" name="wikiUrl" class="form-control" required />
        </div>

        <div class="form-group inf-own">
            <span for="exampleFormControlTextarea2">Опис</span>
            <textarea class="form-control rounded-0" name="ownInf" id="exampleFormControlTextarea2" rows="6"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" />
        <br />
        <input type="button" class="btn btn-danger" id="quit" value="Відмінити" />
    </form>

    <div class="wait-load">
        <div class="loader"></div>
    </div>

</div>
