@model IEnumerable<Clean.Core.Domain.ProductItem.Picture>

@{
    ViewBag.Title = "Home Page";
}

@Html.Hidden("minItemsId",Model.Min(p=>p.Id))


<div class="main_content">
    <div class="user-container">
        <div class="user-inf">
            <div class="user-photo">
                <img src="~/Content/img/default-user.png" />
            </div>
            <div class="user-descr">
                <span class="user-name">Uhryn Vasyl</span>
                <span class="user-about">This  shoud be  information about current user</span>
                <span class="btn btn-default user-btn-add">
                    Додати
                </span>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 40px" />


    <div class="content-container">
       @Html.Partial("_Sliced_Item", Model)

        <div class="cl-item">
            <div class="cl-item-inf">
                <div class="cl-item-photo">

                </div>
                <div class="cl-item-photo-inf">
                    @*<div class="item-title"></div>
                    <div class="desc"> </div>*@
                </div>
            </div>

            <button class="cl-item-btn">Закрити</button>
        </div>

    </div>
    <div class="bottom-load">
        <div class="loader"></div>
    </div>


    <div class="cl-add">
        @Html.Partial("_Form_AddNewItem")
    </div>

</div>

