@model IEnumerable<Clean.Core.Domain.ProductItem.Picture>

@{
    ViewBag.Title = "Home Page";
}




<div class="main_content">
    <div class="user-container">
        <div class="user-inf">
            <div class="user-photo">
                <img src="~/Content/img/default-user.png" />
            </div>
            <div class="user-descr">
                <span class="user-name">Uhryn Vasyl</span>
                <span class="user-about">This  shoud be  information about current user</span>
                <span class="btn btn-default user-btn-add">
                    Додати
                </span>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 40px" />


    @*<div class="container" style="padding-top: 60px">*@
    <div class="content-container">
        @foreach (var item in Model)
        {
                <div class="content-item">
                    <div class="content-item-image">
                        @Html.Raw("<img  src=\"data:image/jpeg;base64,"
                                                                + Convert.ToBase64String(item.PictureBinary) + "\" />")
                    </div>
                    <div class="content-item-hover"></div>
                    <div class="information" hidden>
                        @Html.Raw(item.Description)
                    </div>
                </div>

            <div class="cl-item">
                <div class="cl-item-inf">
                    <div class="cl-item-photo">

                    </div>
                    <div class="cl-item-photo-inf">
                        @*<div class="item-title"></div>
                            <div class="desc">

                            </div>*@
                    </div>
                </div>

                <button class="cl-item-btn">Закрити</button>
            </div>

        }
    </div>

    @*</div>*@



    <div class="cl-add">
        @Html.Partial("_Form_AddNewItem")
    </div>

</div>

