body {
    background-color: #fafafa;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
